@page
@model RecruitCatSinghv6.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Company Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinSal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinSal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaxSal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaxSal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.OptionalStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.OptionalStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.IndustryName)
        </dd>
    </dl>
</div>
  
@if (Model.Company.Candidate.Count != 0)
{
    <div class="myHeader">
        <h5>This Company has  @Html.DisplayFor(model => model.Company.Candidate.Count) Candidate(s)</h5>
    </div>

    <table class="table table-dark table-borderless table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].TargetSalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].OptionalStartDate)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Candidate[0].Industry)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Company.Candidate)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TargetSalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionalStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Industry.IndustryName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No candidates applied for this company!</div>
}


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
