@page
@model RecruitCatSinghv6.Pages.Industries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Edit Industry Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry.IndustryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry.ITSector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.ITSector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry.AverageSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.AverageSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Industry.ReqSkills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Industry.ReqSkills)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Industry?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
